<%= render 'wishlist/invitee_wishlist' %>
<div class="container-fluid">
  <div class="container" >
    <!--event description-->
    <div class="row response_inv">
      <% if @event_design %>
          <div class="col-md-12">
            <div class="inv_preview_bg">
              <div id="eventDesignPreview">
                <% c_design = @handlebars.compile(@event_design.content) %>
                <%= c_design.call(MPARTY: event_data_points(@event,@event_template)).html_safe %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="row nomargin">
        <div class="col-md-12"><h2>Thanks for your response.</h2></div>
      </div>
      <% if @wishlist and @wishlist.wished_products.size > 0 %>
          <div class="row nomargin">
            <div class="col-md-12"><h3>Your friend has a wish list. Do you want to check it out?</h3></div>
          </div>
          <div class="row nomargin event_margin">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <a href="#" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#yourfriendwishlist" data-dismiss="modal">
                <span class="glyphicon glyphicon-gift"></span>Checkout</a>
            </div>
            <div class="col-md-4"></div>
          </div>
      <% end %>
    </div>
  </div>
</div>