%footer.footer
  .container
    .row.social_icons
      %a{:href => "#"}
        =# image_tag('social_icon.jpg')
      \ 
      %a{:href => "#"}
        =# image_tag('social_icon2.jpg')
      \ 
      %a{:href => "#"}
        =# image_tag('social_icon3.jpg')
      %p.text-muted.pull-right 
      / %p.text-muted.pull-right &copy;#{Date.today.year} Mparty