#forgot_password_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.modal_darktheme.modal1
      %a{:href => "#"}
        %span.glyphicon.glyphicon-remove.pull-right.modal_box_x{"data-dismiss" => "modal"}
      .modal-header
        %h3.modal-title Forgot Password?
      .modal-body
        %form.form-signin{:role => "form"}
        = form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path,html:{class: 'form-signin'} do |f|
          %label 
          = f.email_field :email,value: params[:spree_user].try(:[], :email) ,class: 'form-control' ,placeholder: 'Enter Your Email Id*' ,required: true,autofocus: true
          %label
          %button.btn.btn-lg.btn-success.btn-block{:type => "submit"} SEND
      .modal-footer