#login_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.modal_darktheme.modal1
      %a{:href => "#"}
        %span.glyphicon.glyphicon-remove.pull-right.modal_box_x{"data-dismiss" => "modal"}
      .modal-header.mtop20
        - if Spree::AuthenticationMethod.available_for(@spree_user).map(&:provider).include?('facebook')
          .fb-wrap-loginsmall.pull-right
            = link_to spree.spree_user_omniauth_authorize_url(provider: 'facebook') do
              .fb-icon-bg
              .fb-bg Login
        %h3.modal-title.pull-left Login
      .modal-body
        = form_for(Spree::User.new, as: :spree_user, url: spree.spree_user_session_path,html: {class: 'form-signin'})  do |f|
          %label
          - email_value = @order ? @order.email : nil # if checked out as guest
          = f.email_field :email,value: email_value,placeholder: 'Email address*',class: 'form-control', required: true,id: 'login_email_modal'
          %label
          = f.password_field :password,placeholder: 'Password*',class: 'form-control', required: true,id: 'login_password_modal'
          %label
          %button.btn.btn-lg.btn-success.btn-block{:type => "submit"} Login
          %label
          .row.no_margin
            %a{"data-dismiss" => "modal", "data-target" => "#forgot_password_modal", "data-toggle" => "modal", :href => "#"} Forgot your password?
            %a.pull-right{"data-dismiss" => "modal", "data-target" => "#signup_modal", "data-toggle" => "modal", :href => "#"} Register
      .modal-footer