<%if request.path == '/'%>
	<form action="/" class="pull-right" style="margin-top:1em">
	<%= select_tag 'user_city', options_for_select([['Hyderabad','Hyderabad'],['Bangalore','Bangalore'],
		['Chennai','Chennai'],['Mumbai','Mumbai']], :selected=> @city), :onchange => "this.form.submit();",
		:class => 'state_select'%>
	</form>
	<% session.delete(:current_city)%>
<%end%>
<style type="text/css">
.state_select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bcbebf;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 3px 10px 4px;
    position: absolute;
    width: 110px;
    z-index: 999;
}
</style>