<div class="comment">
  <div class="row comment_block">
    <div class="col-md-1">
      <%= image_tag('avatar.png') %>
    </div>
    <div class="col-md-11">
      <h5><%= comment.commented_by %></h5>
      <p class="comment_time pull-right"><%= date_formatter(comment.created_at) %></p>
      <p><%= comment.content%></p>
    </div>
  </div>
</div>

