<div style="width:100%;height:56px;background-image:url(<%= asset_url('menu_bg.jpg') %>); background-repeat:no-repeat; border-top: 6px solid #edb311;">
  <img src="<%= asset_url('logo.png') %>" style="margin:10px; margin-top:8px;">
</div>
<div>
<%= @user.full_name %> requested you to send invitation for <%= @event.name %>
</div>