<div class="row">
  <h2 class="event_details">Billing Address</h2>
</div>
<% @event = Event.find(session[:event_id]) if session[:event_id].present? %>

<%= form.fields_for :bill_address do |bill_form| %>
    <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
<% end %>



<div class="row">
  <div class="form_ce_left">
    <% if try_spree_current_user %>
        <div class="wlist_check">
          &nbsp; &nbsp;
          <%#= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
          <%= hidden_field_tag 'save_user_address', '1' %>
          <%#= label_tag :save_user_address, Spree.t(:save_my_address) %>
        </div>
    <% end %>
  </div>
  <div class="form_ce_right">
    <%= submit_tag Spree.t(:save_and_continue), :class => 'btn_l btn_l-login shipping_add_btn' %>
  </div>
</div>

