<% promotions = @product.possible_promotions %>
<% if promotions.any? %>
    <div class="col-md-12" id="promotions">
      <h4><%= Spree.t(:promotions) %></h4>
      <% promotions.each do |promotion| %>
          <div>
            <h5><%= promotion.name %></h5>
            <p><%= promotion.description %></p>
            <% if promotion.products.any? %>
                <ul>
                  <% promotion.products.each do |product| %>
                      <li><%= link_to product.name, product_path(product) %></li>
                  <% end %>
                </ul>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>

