<div class="col-md-3 filter" style="background: none !important;"></div>
<%= render :partial => 'spree/shared/products', :locals => { :products => taxon_preview(taxon), :taxon => taxon ,wishlist: @wishlist} %>

