<%= form_for(current_spree_user.invites.build(event_id: @event.id)) do |f| %>
  <div><%= f.hidden_field :invited_user_id %></div>
  <%= f.submit "Attend", class: "btn btn-large btn-primary" %>
<% end %>
