<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="col-md-12 invitation_text">
          <label></label>
          <div id="" class="tags_wrap">
            <input type="text" name="currency" class="biginput" id="autocomplete">
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <label></label>
          <a href="events.html" class="btn btn-lg btn-primary btn-block invite_btn_cancel" type="submit">CANCEL</a> </div>
        <div class="col-md-4">
          <label></label>
          <a href="event_preview.html" class="btn btn-lg btn-primary btn-block upload_btn_done" type="submit">INVITE</a> </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-6 event_right_block">
  <div class="row">
    <div class="inv_wislist_right">
      <div class="col-md-12">
        <h4>Wishlist</h4>
        <div class="row inv_wishlist">
          <div class="col-md-3">
            <%= image_tag('product2.png',width: 90) %>
          </div>
          <div class="col-md-6">
            <h5>Maisa Bag</h5>
            <p>Requested Quantity 4</p>
          </div>
          <div class="col-md-2">
            <h5>Rs.500/-</h5>
          </div>
        </div>
        <div class="row inv_wishlist">
          <div class="col-md-3">
            <%= image_tag('product1.png',width: 90) %>
          </div>
          <div class="col-md-6">
            <h5>Maisa Mug</h5>
            <p>Requested Quantity 4</p>
          </div>
          <div class="col-md-2">
            <h5>Rs.500/-</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 inv_addmore"> <a href="wishlist.html" id="inv_addmore_prdts">
      <div class="wishlist_add_btn"><span class="glyphicon glyphicon-plus"></span></div>
      <h4>Add More Products</h4>
    </a> </div>
  </div>
</div>