<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12 wishlist_text">
      <h4>Do you want to send Wishlist?</h4>
      <%= link_to 'CREATE WISHLIST',event_wishlist_path(event_id: @event.id),class: "btn btn-lg btn-primary btn-block create_wishlist_btn" %>
    </div>
    <div class="col-md-12">
      <label></label>
     </div>
    <div class="col-md-12">
      <%= render 'invite_form' %>
    </div>
  </div>
</div>
<div class="col-md-6 event_right_block"> </div>