<div class="col-md-12">
  <form role="form">
    <div class="col-md-12 invitation_text">
      <label></label>
      <div id="tags" class="tags_wrap">
        <input type="text" name="currency" class="biginput" id="autocomplete">
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label></label>
      <a href="events.html" class="btn btn-lg btn-primary btn-block invite_btn_cancel" type="submit">CANCEL</a> </div>
    <div class="col-md-4">
      <label></label>
      <a href="event_preview.html" class="btn btn-lg btn-primary btn-block upload_btn_done" type="submit">INVITE</a> </div>
  </form>
</div>