
<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="col-md-12 upload_btn"> <span class="glyphicon glyphicon-picture"></span> <span class="glyphicon glyphicon-upload"></span>
          <label></label>
          <input type="file" id="exampleInputFile">
        </div>
        <div class="col-md-4">
          <button class="btn btn-lg btn-primary btn-block upload_btn_skip" type="submit">SKIP</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-6 event_right_block">
  <div class="photos_block">
    <h4>Event Photos</h4>
    <div class="row nomargin nomargin_left">
      <div class="col-md-3">
        <div class="remove_btn"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <%= image_tag('event1.png',width: 90) %>
      </div>
      <div class="col-md-3">
        <div class="remove_btn"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <%= image_tag('event2.png',width: 90) %>
      </div>
      <div class="col-md-3">
        <div class="remove_btn"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <%= image_tag('event3.png',width: 90) %>
      </div>
      <div class="col-md-3">
        <div class="remove_btn"><span class="glyphicon glyphicon-remove-circle"></span></div>
        <%= image_tag('event4.png',width: 90) %>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button class="btn btn-lg btn-primary btn-block upload_btn_done" type="submit">DONE</button>
  </div>
</div>