<div class="col-md-6 event_left_block">
  <div class="row">
    <div class="col-md-12">
      <%= form_for Picture.new do |f| %>
          <%= hidden_field_tag :resource_id %>
          <%= hidden_field_tag :resource ,'event' %>
          <div class="col-md-12 upload_btn">
            <span class="glyphicon glyphicon-picture"></span>
            <span class="glyphicon glyphicon-upload"></span>
            <label></label>
            <%= f.file_field :image,multiple: true, name: "picture[image]" %>
          </div>
          <div class="col-md-4">
            <button class="btn btn-lg btn-primary btn-block upload_btn_skip" type="submit">SKIP</button>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-6 event_right_block">
  <div class="photos_block">
    <h4>Event Photos</h4>
    <div class="row nomargin nomargin_left" id="pictures">
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button class="btn btn-lg btn-primary btn-block upload_btn_done" type="submit">DONE</button>
  </div>
</div>
<script type="text/javascript">
  $('.upload_btn_done,.upload_btn_skip').click(function(e){
      e.preventDefault()
      $('#upload_photos_tab').removeClass('event_tab_active').addClass('event_tab')
      $('#send_invitations_tab').removeClass('event_tab').addClass('event_tab_active')
      $("#upload_photos").css("display", "none")
      $("#invitation_without_wishlist").css("display", "block")
  })
</script>