<div class="container container_stlye"><br>
  <div id="calendar"></div>
</div>
<script>
    $('#calendar').fullCalendar({
        header: {
            // left: 'prev,next,today',
            left: 'prev',
            center: 'title',
            right: 'next'
            // right: 'month,agendaWeek,agendaDay',
        },
        height: "auto",
        fixedWeekCount: false,
        eventLimit: 3,
        showTime: true,
        events: '/get_my_calendar.json',
        eventRender: function(event, element) {
            element.attr('title', event.tooltip);
            element.tooltip()
        }
    });
</script>