<style type="text/css">
    #create_form{
        display: none;
    }
    #upload_photos{
        display: none;
    }
    #invitation_without_wishlist{
        display: none;
    }
    #invitation_with_wishlist{
        display: block;
    }

</style>
<div class="container-fluid">
  <div class="container container_stlye">
    <div class="row">
      <div class="title_name">Create Event</div>
    </div>
    <div class="row event_margin">
      <div class="col-md-2">
        <div class="row">
          <div id='create_event_tab' class="event_tab"><span class="glyphicon glyphicon-star"></span></div>
          <div class="event_tab_title">CREATE EVENTS</div>
          <div class="event_divider"></div>
        </div>
        <div class="row">
          <div id='upload_photos_tab' class="event_tab"><span class="glyphicon glyphicon-picture"></span></div>
          <div class="event_tab_title">UPLOAD PHOTOS</div>
          <div class="event_divider"></div>
        </div>
        <div class="row">
          <div id='send_invitations_tab' class="event_tab_active"><span class="glyphicon glyphicon-envelope"></span></div>
          <div class="event_tab_title">SEND INVITATIONS</div>
          <div></div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="create_event_bg">
          <!--create event form start-->
          <div class="row" id="create_form">
            <%#= render 'create_form' %>
            <%#= render 'design_selection' %>
          </div>
          <!--Create event form end-->

          <!--upload photos start-->
          <div class="row" id="upload_photos">
            <%#= render 'upload_photos' %>
          </div>
          <!--upload photos end-->

          <!--invitations start-->
          <div class="row" id="invitation_without_wishlist">
          </div>
          <!--invitation end-->
          <!--invitations start-->
          <div class="row" id="invitation_with_wishlist">
            <%= render 'invite_with_wish_list' %>
          </div>
          <!--invitation end-->
        </div>
      </div>
    </div>
  </div>
</div>