<h1>Browse All Your Events</h1>
<% if @events.present? %>
	<%= render 'shared/table', object: @events %>
<% else %>
	<h2>You don't have any Events</h2> <%= link_to 'Create Event', new_event_path %>
<% end %>