<div class="container-fluid">
  <div class="container container_stlye">
    <div class="row">
      <div class="title_name">Create Event  <a href="#" onclick="fb_publish();">Post</a></div>
    </div>
    <div class="row event_margin">
      <div class="col-md-2">
        <div class="row">
          <div id='create_event_tab' class="event_tab_active"><span class="glyphicon glyphicon-star"></span></div>
          <div class="event_tab_title">CREATE EVENTS</div>
          <div class="event_divider"></div>
        </div>
        <div class="row">
          <div id='upload_photos_tab' class="event_tab"><span class="glyphicon glyphicon-picture"></span></div>
          <div class="event_tab_title">UPLOAD PHOTOS</div>
          <div class="event_divider"></div>
        </div>
        <div class="row">
          <div id='send_invitations_tab' class="event_tab"><span class="glyphicon glyphicon-envelope"></span></div>
          <div class="event_tab_title">SEND INVITATIONS</div>
          <div></div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="create_event_bg">
          <!--create event form start-->
          <div class="row" id="create_form">
            <%= render 'create_form' %>
            <div class="col-md-6 event_right_block" id="event_template_designs">
              <%#= render 'design_selection' %>
            </div>
          </div>
          <!--Create event form end-->

          <!--upload photos start-->
          <div class="row" id="upload_photos">
            <%#= render 'upload_photos' %>
          </div>
          <!--upload photos end-->

          <!--invitations start-->
          <div class="row" id="invitation_without_wishlist">
          </div>
          <!--invitation end-->
          <!--invitations start-->
          <div class="row" id="invitation_with_wishlist">
          </div>
          <!--invitation end-->
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            appId      : 1496265010630437,
            xfbml      : true,
            version    : 'v2.2'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function fb_publish() {
        var data=
        {
            method: 'stream.publish',
            message: "Message of the event post",
            display: 'iframe',
            caption: "Caption of event post",
            name: "My Event name",
            picture: 'http://ketchumsampark.com/sites/default/files/styles/media_640w/public/event_marketing.jpg',
            link: "http://mparty.herokuapp.com/",  // Go here if user click the picture
            description: "Description of the event post",
            actions: [{ name: 'action_links text!', link: 'http://mparty.herokuapp.com/events/648' }]
        }
        FB.ui(data, function(){});
    }
</script>