.mtop20
  %h4
    Venue Types
    %span.glyphicon.glyphicon-plus.pull-right{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#VenueType", "data-toggle" => "collapse"}
  #VenueType
    %ul.list-group.clearfix
      - VenueCategory.all.each  do |vtype|
        %li.list-group-item
          %input{:type => "checkbox",name: 'venue_type',value: vtype.id,class: 'venue_types'}/
          #{vtype.venue_type}
.mtop20
  %h4
    Type of event
    %span.glyphicon.glyphicon-plus.pull-right{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#EventType", "data-toggle" => "collapse"}
  #EventType.collapse
    %ul.list-group.clearfix
      - Spree::Admin::Template.where.not(name: 'custom').each  do |etype|
        %li.list-group-item
          %input{:type => "checkbox",name: 'event_type',value: etype.id,class: 'event_types'}/
          #{etype.name}

.mtop20
  %h4
    Number of people
    %span.glyphicon.glyphicon-plus.pull-right{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#NoOfPeople", "data-toggle" => "collapse"}
  #NoOfPeople.collapse
    %ul.list-group.clearfix
      %li.list-group-item
        %input{:type => "radio",name: 'number_of_people',value: '1-50',class: 'number_of_people'}/
        1-50
      %li.list-group-item
        %input{:type => "radio",name: 'number_of_people',value: '50-100',class: 'number_of_people'}/
        50-100
      %li.list-group-item
        %input{:type => "radio",name: 'number_of_people',value: '100-500',class: 'number_of_people'}/
        100-500
      %li.list-group-item
        %input{:type => "radio",name: 'number_of_people',value: '500',class: 'number_of_people'}/
        morethan 500
.mtop20
  %h4
    Facilities
    %span.glyphicon.glyphicon-plus.pull-right{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#Facilities", "data-toggle" => "collapse"}
  #Facilities.collapse
    %ul.list-group.clearfix
      - VenueFacility.all.each  do |vfacility|
        %li.list-group-item
          %input{:type => "checkbox",name: 'venue_facility',value: vfacility.id,class: 'venue_facilities'}/
          #{vfacility.name}

