<% venues.in_groups_of(3, false) do |row_venues| %>
  <div class="row mtop20">
    <% for venue in row_venues %>
      <%= render 'venue',venue: venue %>
    <% end %>
  </div>
<% end %>
<script>
    $(".add_this_venue_to_event").click(function(e) {
        e.preventDefault();
        action = '/venues/'+$(this).data('id')+'/check_availability'
        $.ajax({url: action})
    })
</script>
