<% venues.in_groups_of(3, false) do |row_venues| %>
  <div class="row mtop20">
    <% for venue in row_venues %>
      <%= render 'venue',venue: venue %>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
    $(document).on('click','.reserve_this_venue_to_event',function(e){
        e.preventDefault();
        url = '/venues/'+$(this).data('id')+'/check_availability'
        $.ajax({
            url: url,
            beforeSend: function(){  $('.loading-indicator').fadeIn('slow') },
            success: function(res) { $('.loading-indicator').hide() }
        });
    })
</script>
