<% unless @venues.blank? %>
    <% @venues.each do |venue| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <%= cover_photo(venue,:preview) %>
            <div class="caption">
              <table class="venue-thumb-details-table">
                <tr>
                  <td colspan="2">
                    <h4>
                      <%= truncate(venue.name,length: 20) %>
                    </h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="venue_rating">
                      <%= overall_rating(venue.average_rating,venue.reviews.count) %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="t_left" colspan="2">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    \: #{venue.location}
                  </td>
                </tr>
                <tr>
                  <td class="t_left">Capacity:</td>
                  <td class="t_left">#{venue.capacity} Max</td>
                </tr>
                <tr>
                  <td class="t_left">Appx Price:</td>
                  <td class="t_left icon-warning">Rs #{venue.price_min}-#{venue.price_max} Per Head</td>
                </tr>
                <tr>
                  <td class="text-center" colspan="2">
                    <a class="btn btn-primary btn-sm mtop10" href="#" role="button">view details</a>
                    <a class="btn btn-success btn-sm mtop10 pull-right" href="#" role="button">reserve</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
