.container.events_all_bg
  %h3 Venue One
  #carousel-example-generic.carousel.slide.venue_slider{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item.active
        %img{:alt => "...", :src => "img/venue_1.jpg"}
          .carousel-caption
            venue three
      .item
        %img{:alt => "...", :src => "img/venue_1.jpg"}
          .carousel-caption
            venue one
      .item
        %img{:alt => "...", :src => "img/venue_1.jpg"}
          .carousel-caption
            venu two
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next
  .venue_right
    %h4 Availability Dates
    %img{:src => "img/c.png"}
      %div
        %h4 Send Message
        %textarea{:cols => "70"}
        %button Send
      %br
  %div{:style => "width:100%;float:left;border-radius:6px;background:#fff;margin-top:30px;"}
    #tabs
      %ul
        %li
          %a{:href => "#tabs-1"} About
        %li
          %a{:href => "#tabs-2"} Contact Details
        %li
          %a{:href => "#tabs-3"} Location
        %li
          %a{:href => "#tabs-4"} Reviews
      #tabs-1
        %p
          Hyderabad Marriott Hotel & Convention Centre designed to host high quality events and is among the most preferred Hyderabad conference venues for Business meetings and conferencing facilities of all shapes and sizes.

          The Hotel provides flexible meeting space and well-equipped Convention centre with a wide range of meeting services which includes AV equipment, language interpretation system, clicker drop screen and more. The Convention centre boasts 55,000sft of area and is built up with both the Indoor and Outdoor facilities for Business meetings and conferences.

          It provides all the services that are useful to make an event outstanding which will exceed all your expectations. Hyderabad Marriott Hotel & Convention Centre comprises 10 meeting rooms and 12 breakout rooms known for providing first class services and conference facilities.

          It supports to host large size of conventions and business get together welcoming over 1300 meeting attendees making it the perfect venue for people who are looking for the best Hyderabad conference venues.

          Hyderabad Marriott Hotel & Convention Centre is the most renowned destination which blends the traditional style with modern. Hyderabad Marriott Hotel renders the superior accommodation to the Convention centre making it an ideal choice for Business meetings and conferences and gear up the travelers with the best.
      #tabs-2
        .row
          .col-xs-6 Name
          .col-xs-6 Maisasolutions
        .row
          .col-xs-6 Address
          .col-xs-6 Ecil, Hyderabd
        .row
          .col-xs-6 City
          .col-xs-6 Hyderabad
        .row
          .col-xs-6 State
          .col-xs-6 Telangana
        .row
          .col-xs-6 Country
          .col-xs-6 India
        .row
          .col-xs-6 Zipcode
          .col-xs-6 500062
        .row
          .col-xs-6 Phone Number
          .col-xs-6 9999999999, 8888888888
      #tabs-3
        %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.7372684517663!2d78.56895172883539!3d17.4722847661683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9c794db6bfd3%3A0x119d193138178108!2sMaisa+Solutions+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1415105868756", :style => "border:0", :width => "600"}
      #tabs-4