%h1 Listing spree_admin_templates

%table
  %tr
    %th Name
    %th
    %th

  - @spree_admin_templates.each do |spree_admin_template|
    %tr
      %td= spree_admin_template.name
      %td.actions{:style => "border-bottom: 1px solid #cee1f4 !important; border-right: 1px solid #cee1f4 !important; "}
        = link_to '', edit_admin_template_path(spree_admin_template), class: 'icon-edit no-text'
      %td.actions{:style => "border-bottom: 1px solid #cee1f4 !important; border-right: 1px solid #cee1f4 !important; "}
        = link_to '', spree_admin_template, class: 'icon-trash no-text', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Template', new_admin_template_path
