<!--shipping modal box-->
<div class="modal fade" id="wishlist_shipping_addrs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal2">
    <div class="modal-content modal_wishlist_bg"> <a href="/"><span class="glyphicon glyphicon-remove pull-right modal_wishlist_x" data-dismiss="modal"></span></a> <br>
      <div class="modal-header">
        <div class="title_trending">
          <div class="title_bg"></div>
          <div class="model_box_name">SHIPPING ADDRESS</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row shipping_address_form">
          <div class="col-md-12">
            <form role="form">
              <div class="col-md-6">
                <label></label>
                <input type="text"  class="form-control" placeholder="First Name*" required="" autofocus>
              </div>
              <div class="col-md-6">
                <label></label>
                <input type="text"  class="form-control" placeholder="Last Name*" required="" autofocus>
              </div>
              <div class="col-md-6">
                <label></label>
                <input type="text" class="form-control" placeholder="Street Address1*" required="" autofocus>
              </div>
              <div class="col-md-6">
                <label></label>
                <input type="text"  class="form-control" placeholder="Street Address2" required="">
              </div>
              <div class="col-md-6">
                <label></label>
                <input type="text"  class="form-control" placeholder="City*" required="" autofocus>
              </div>
              <div class="col-md-6">
                <label></label>
                <select class="form-control">
                  <option>Select State</option>
                  <option>Telangana</option>
                  <option>Andhra Pradesh</option>
                </select>
              </div>
              <div class="col-md-6">
                <label></label>
                <select class="form-control">
                  <option>Select Country</option>
                  <option>India</option>
                  <option>USA</option>
                </select>
              </div>
              <div class="col-md-6">
                <label></label>
                <input type="text" id="inputPassword" class="form-control" placeholder="Zipcode*" required="">
              </div>
              <div class="col-md-12">
                <label></label>
                <input type="phone" id="inputPassword" class="form-control" placeholder="Phone Number*" required="">
              </div>
              <div class="col-lg-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <label></label>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" id="shipping_addres_form">CREATE</button>
                </div>
                <div class="col-md-4"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer"> </div>
    </div>
  </div>
</div>
<!--shipping addressmodalbox end-->