<!--add to wishlist modal box-->
<div class="modal fade" id="wishlist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal5">
    <div class="modal-content modal_wishlist_bg"><br>
      <div class="modal-header">
        <div class="title_trending">
          <div class="title_bg"></div>
          <div class="model_box_name">YOUR WISHLIST (<span class="wishlist_modal_count"><%= @wishlist.wished_products.size %></span>)</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row wishlist_popup_header">
          <div class="col-md-2"></div>
          <div class="col-md-4">DESCRIPTION</div>
          <div class="col-md-2">QUANTITY</div>
          <div class="col-md-2">PRICE</div>
          <div class="col-md-2"></div>
        </div>

        <div id="wishlist-modal-items">
          <div> Loading...</div>
        </div>

        <div class="row wishlist_popup_footer">
          <div class="col-md-4"><a href="#" id="wishlist-add-more-poducts">
            <div class="wishlist_add_btn"><span class="glyphicon glyphicon-plus"></span></div>
            <h4>Add More Products</h4>
          </a></div>
          <div class="col-md-4">
            <a href="#" data-toggle="modal" data-target="#wishlist-shipping-addrs-modal" data-dismiss="modal">
              <div class="wishlist_add_btn"><span class="glyphicon glyphicon-edit"></span></div>
              <% if @event.ship_address %>
                  <h4 id="ship_address_heading">Edit Shipping Address</h4>
              <% else %>
                  <h4 title="Its mandatory to add Shipping address to wishlist" id="ship_address_heading">Add Shipping Address</h4>
              <% end %>
            </a>
          </div>
          <div class="col-md-4 mtop20">
            <%= link_to 'Done','#',data: {url: "/event/#{@event.id}/invite-with-wishlist" ,ship_add_exists: @event.ship_address ? 'yes' : 'no'},class:  "btn btn-lg btn-success addwishlist_done pull-right"%>
            <a href="/"><span class="btn btn-lg btn-gray mright10 pull-right" data-dismiss="modal">Cancel</span></a>
          </div>
        </div>
      </div>
      <div class="modal-footer"> </div>
    </div>
  </div>
</div>
<!--modalbox end-->



<script type="text/javascript">
    // close wishlist modal on adding more products button
    $('#wishlist-add-more-poducts').click(function (e){
        e.preventDefault()
        $('#wishlist-modal').modal('toggle');
    })

    // fill wished products via ajax when modal is open
    $('#wishlist-modal').on('shown.bs.modal', function () {
        var url = '/event/'+$('#event_id').val()+'/wishlist/wished_products'
        $.ajax({
            type: "GET",
            url: url,
            beforeSend: function(){},
            success: function(res) {
                $('#wishlist-modal #wishlist-modal-items').html(res).hide().fadeIn('slow')
            }
        });
    })

    $('.addwishlist_done').click(function (e){
        e.preventDefault()

        if($(this).attr('data-ship-add-exists') == 'yes'){
            Turbolinks.visit($(this).data('url'))
        }else{ // open ship  address popup
            bootbox.alert("Please add Shipping address before continuing")
            $('#wishlist-modal').modal('hide')
            $('#wishlist-shipping-addrs-modal').modal('show')
        }

    })
</script>