/ Modal
#wishlistPurchasedUsersModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title{style: 'color: #000;'} Product purchases
      .modal-body
        %ul.list-group
          %li.list-group-item
            .col-md-2
            .col-md-4.txt_bold Name
            .col-md-3.txt_bold Quantity
            .col-md-3.txt_bold Date
          - if @wishlist_orders.empty?
            %li.list-group-item
              .col-md-12.txt_center No purchases
          - else
            - @wishlist_orders.each do |wo|
              - user = wo.order.created_by
              %li.list-group-item
                .col-md-2
                  =  mini_avatar_image_tag(user)
                - name =  user ? user.full_name : wo.order.email
                .col-md-4.mtop10{data: {placement: 'right',toggle: 'tooltip'},title: name}=  truncate(name ,length: 23)
                .col-md-3.mtop10= wo.quantity_purchased
                .col-md-3.mtop10= l(wo.created_at.to_date)
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} OK