<%#= raise picture.inspect %>
<% if picture.image? %>
    <div class="picture">
      <%= link_to image_tag(picture.image_url(:thumb)), picture  %>
      <div class="name"><%= picture.name %></div>
      <div class="actions">
        <%#= link_to "edit", edit_picture_path(picture.id)  if @event.is_owner?(spree_current_user) %>
        <%= link_to "remove", picture , :confirm => 'Are you sure?', :method => :delete  if @event.is_owner?(spree_current_user) %>
      </div>
    </div>
<% end %>