<% if picture.image? %>
    <div class="col-md-3 picture" id="picture_<%= picture.id %>">
      <%= link_to picture , confirm: 'Are you sure?', method: :delete ,class: 'remove_btn',remote: true do %>
          <span class="glyphicon glyphicon-remove-circle"></span>
      <% end  %>
      <%#= link_to image_tag(picture.image_url(:thumb)), picture  %>
      <%= image_tag(picture.image_url(:thumb) ) %>
    </div>
<% end %>