<% if picture.image? %>
    <div class="col-md-3 picture" id="picture_<%= picture.id %>" data-id="<%= picture.id %>">
      <div class="remove_btn" ><span class="glyphicon glyphicon-remove-circle" onclick="remove_photo(<%= picture.id %>)"></span></div>
      <%= picture_image_tag(picture,:thumb) %>
    </div>
<% end %>
