#product_seaarch_filters.col-md-3.filter
  .row
    .col-md-12
      .filter_shop
        %h4 SHOP BY CATEGORIES
        %ul
          %li
            %input{:type => "checkbox"}/
            Clothing
          %li
            %input{:type => "checkbox"}/
            Bags
          %li
            %input{:type => "checkbox"}/
            Mobiles
          %li
            %input{:type => "checkbox"}/
            Watches
          %li
            %input{:type => "checkbox"}/
            Electronic
          %li
            %input{:type => "checkbox"}/
            Accessories
          %li
            %a{:href => "#"} 30 More+
  .row
    .col-md-12
      .filter_shop
        %h4 SHOP BY BRAND
        %ul
          %li
            %input{:type => "checkbox"}/
            Sony
          %li
            %input{:type => "checkbox"}/
            Maisa
          %li
            %input{:type => "checkbox"}/
            Titan
          %li
            %input{:type => "checkbox"}/
            Fasttrack
          %li
            %input{:type => "checkbox"}/
            Samsung
          %li
            %input{:type => "checkbox"}/
            IPhone
          %li
            %a{:href => "#"} 30 More+
  .row
    .col-md-12
      .filter_shop
        %h4 PRICE RANGE
        %ul
          %li
            %input{:type => "checkbox"}/
            Rs.500 - 1000
          %li
            %input{:type => "checkbox"}/
            Rs.1000 - 2000
          %li
            %input{:type => "checkbox"}/
            Rs.2000 - 3000
          %li
            %input{:type => "checkbox"}/
            Rs.3000 - 4000
          %li
            %input{:type => "checkbox"}/
            Rs.4000 - 5000
          %li
            %input{:type => "checkbox"}/
            Rs.5000 - 6000