
  <div class="jumbotron">
    <h1>Plan an Event</h1>
    <p class="lead">Keep track of events with your friends.  This is a simple app to organize your event planning.
       </p>
    <p><%= link_to "Create an Event", signed_in? ? "/events/new" : login_path, class: "btn btn-lg btn-success" %></p>
  </div>
<% @events_upcoming = Event.upcoming %>
<% @events_past = Event.past%>
<h2>Upcoming Events</h2>
<% if @events_upcoming.size > 0 %>
	<%= render 'shared/table', object: @events_upcoming %>
<% else %>
	<p>No Upcomming Events</p>
<% end %>	
<%#= will_paginate @events_upcoming, :param_name => "upcoming" %>

<h2>Past Events</h2>
<% if @events_past.size > 0 %>
	<%= render 'shared/table', object: @events_past %>
<% else %>
	<p>No Past Events</p>
<% end %>	
