.nav-bar
  %ul
    %li
      = link_to "Home",  "/"
    %li
      = link_to "Events",  "/events"
    %li
      = link_to "Wishlist", "/wishlists/"
    %li
      = link_to "Cart", "/cart"

-if !signed_in?
  .jumbotron
    %h1 Plan an Event
    %p.lead
      Keep track of events with your friends.  This is a simple app to organize your event planning.
  