.nav-bar
  %ul
    %li
      = link_to "Home", signed_in? ? "/" : login_path
    %li
      = link_to "Events", signed_in? ? "/events" : login_path
    %li
      = link_to "Wishlist", signed_in? ? "/wishlists/" : login_path
    %li
      = link_to "Cart", signed_in? ? "/cart" : login_path


.jumbotron
  %h1 Plan an Event
  %p.lead
    Keep track of events with your friends.  This is a simple app to organize your event planning.
  