<ul>
  <%unless VenueCategory.all.blank?%>
      <%for venue_category in VenueCategory.all%>
          <li>
            <%= check_box_tag "venue[venue_type][]",venue_category.id,@venue.venue_categories.include?(venue_category)%>
            <%= venue_category.venue_type%>
          </li>
      <%end%>
  <%else%>
      <li>
        <a href="/admin/venue_categories/new">create Venue Category.</a>
      </li>
  <%end%>
</ul>